@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Poppins";
  font-family: 'Poppins';
}
.active{
  color:#ffc107;
}

:root {
  line-height: 1.5;
  background-color: white;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
.toast{
  animation: slideIn 0.5s forwards; /* Animation to slide in */

}
@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}


.toast.show {
  top: 20px; /* Bring on-screen */
}

